table {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  width: 500px;
  height: 300px;
  table-layout: fixed;
  border: 5px solid hsl(346, 87%, 48%);
  margin: 100px 100px 100px 100px;
  background: #BDB76B;
}

tr {
  border: 2px solid rgb(66, 44, 227);
  /* background-color: aqua; */
}
td {
  border: 2px solid rgb(38, 54, 235);
  /* background-color: black; */
}

.bold {
  font-size: larger;
}
.othcol
{
color: blue;
}
.Tb {
  font-size: 1.2rem;
  font-style: normal;
  color: #e31c1c;
}


tbody {
 background:#B0C4DE	; 
}



tr:nth-child(even){ 
  background-color: #4eba4e	; 
 } 
 tr
 td:first-of-type{ 
  background-color: #26d4f3	; 
 } 
 tfoot {
  background-color:#F4A460;
  font-size:larger;
}
thead {
  font-size: larger;
  font-family:sans-serif;
  background-color:#FFE4C4;
  
  }
td:for(.first)
{
  background-color:#070707;

}