table {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  width: 500px;
  height: 300px;
  table-layout: fixed;
  border: 5px solid hsl(346, 87%, 48%);
  margin: 100px;
  background: #f0efec;
}
.tabc {
  border: 2px solid rgb(66, 44, 227);
  background-color: #becfbd;
}

tr {
  border: 2px solid rgb(66, 44, 227);
}
td {
  border: 2px solid rgb(38, 54, 235);
}

.bold {
  font-size: larger;
}
span {
  color: blue;
}
caption {
  font-size: 1.6rem;
  font-style: bold;
  color: #e31c1c;
}
th {
  border: 2px solid rgb(38, 54, 235);
  background-color: #5af0eb;
}
thead {
  border: 2px solid rgb(38, 54, 235);
  background-color: #f4f2c1;
  font-size: 1.1rem;
  font-weight: bolder;
}
tfoot {
  border: 2px solid rgb(38, 54, 235);
  background-color: #f8b798;
  font-size: 1.1rem;
}
tbody {
  border: 2px solid rgb(38, 54, 235);
  background-color: #a7b45a;
}
